<head>
  <meta charset="UTF-8">
  <title>{{ site.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta
    name="description"
    content="Search and explore public repositories by language, license, and activity."
  >
  <link rel="icon" href="data:,">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500;600&amp;family=Outfit:wght@400;600;700&amp;family=Source+Code+Pro:wght@400;500&amp;display=swap"
    rel="stylesheet"
  >
  <link rel="stylesheet" href="{{ site.url }}{{ site.baseurl }}/assets/css/normalize.css">
  <link rel="stylesheet" href="{{ site.url }}{{ site.baseurl }}/assets/css/search.css">
</head>
